<h1> Add a book to your repository </h1>

<%= form_for :book, url: books_path do |f| %>
  <div>
    <%= f.label :book_code %><br>
    <%= f.text_field :book_code %>
  </div>

  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>

  <div>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :genre %><br>
    <%= f.text_field :genre %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>

<%= link_to "Back", books_path %>