<h1> About <%= @book.title %> </h1>

<div>
  <strong>Book Code: </strong>
  <%= @book.book_code %>
</div>
<div>
  <strong>Book Title: </strong>
  <%= @book.title %>
</div>
<div>
  <strong>Author: </strong>
  <%= @book.author %>
</div>
<div>
  <strong>Description: </strong>
  <%= @book.description %>
</div>
<div>
  <strong>Genre: </strong>
  <%= @book.genre %>
</div>

<%= link_to 'Edit', edit_book_path(@book) %>
<%= link_to 'Back', books_path %>